Repository instill-ai/component, pull requests merged in 2024-05, with the labels that each got.

#110 feat: allow global API key on OpenAI connector
  pkg/base/execution.go
  pkg/connector/main.go
  pkg/connector/openai/v0/main.go
Labels: instill vdp

#112 chore: update UsageHandler interface to collect token usage on OpenAI
  .github/CONTRIBUTING.md
  Makefile
  go.mod
  go.sum
  pkg/base/component.go
  pkg/base/connector.go
  pkg/base/connector_test.go
  pkg/base/execution.go
  pkg/base/operator.go
  pkg/base/operator_test.go
  pkg/base/usage.go
  pkg/connector/airbyte/v0/main.go
  pkg/connector/archetypeai/v0/connector_test.go
  pkg/connector/archetypeai/v0/main.go
  pkg/connector/bigquery/v0/main.go
  pkg/connector/googlecloudstorage/v0/main.go
  pkg/connector/googlesearch/v0/main.go
  pkg/connector/huggingface/v0/connector_test.go
  pkg/connector/huggingface/v0/main.go
  pkg/connector/instill/v0/main.go
  pkg/connector/main.go
  pkg/connector/numbers/v0/main.go
  pkg/connector/openai/v0/README.mdx
  pkg/connector/openai/v0/client.go
  pkg/connector/openai/v0/config/tasks.json
  pkg/connector/openai/v0/connector_test.go
  pkg/connector/openai/v0/main.go
  pkg/connector/openai/v0/text_embeddings.go
  pkg/connector/openai/v0/text_generation.go
  pkg/connector/pinecone/v0/connector_test.go
  pkg/connector/pinecone/v0/main.go
  pkg/connector/redis/v0/main.go
  pkg/connector/restapi/v0/connector_test.go
  pkg/connector/restapi/v0/main.go
  pkg/connector/stabilityai/v0/connector_test.go
  pkg/connector/stabilityai/v0/main.go
  pkg/connector/website/v0/main.go
  pkg/mock/generator.go
  pkg/mock/usage_handler_mock.gen.go
  pkg/operator/base64/v0/main.go
  pkg/operator/end/v0/main.go
  pkg/operator/image/v0/main.go
  pkg/operator/json/v0/main.go
  pkg/operator/json/v0/operator_test.go
  pkg/operator/main.go
  pkg/operator/start/v0/main.go
  pkg/operator/text/v0/main.go
Labels: instill vdp

#115 chore: add context to UsageHandler methods
  .github/CONTRIBUTING.md
  pkg/base/execution.go
  pkg/base/usage.go
  pkg/connector/airbyte/v0/main.go
  pkg/connector/archetypeai/v0/connector_test.go
  pkg/connector/archetypeai/v0/main.go
  pkg/connector/bigquery/v0/main.go
  pkg/connector/googlecloudstorage/v0/main.go
  pkg/connector/googlesearch/v0/main.go
  pkg/connector/huggingface/v0/connector_test.go
  pkg/connector/huggingface/v0/main.go
  pkg/connector/instill/v0/main.go
  pkg/connector/numbers/v0/main.go
  pkg/connector/openai/v0/connector_test.go
  pkg/connector/openai/v0/main.go
  pkg/connector/pinecone/v0/connector_test.go
  pkg/connector/pinecone/v0/main.go
  pkg/connector/redis/v0/main.go
  pkg/connector/restapi/v0/connector_test.go
  pkg/connector/restapi/v0/main.go
  pkg/connector/stabilityai/v0/connector_test.go
  pkg/connector/stabilityai/v0/main.go
  pkg/connector/website/v0/main.go
  pkg/mock/usage_handler_mock.gen.go
  pkg/operator/base64/v0/main.go
  pkg/operator/end/v0/main.go
  pkg/operator/image/v0/draw_test.go
  pkg/operator/image/v0/main.go
  pkg/operator/json/v0/main.go
  pkg/operator/json/v0/operator_test.go
  pkg/operator/start/v0/main.go
  pkg/operator/text/v0/convert_test.go
  pkg/operator/text/v0/main.go
  pkg/operator/text/v0/split_test.go
Labels: instill vdp

#117 feat: add sourceTag for pinecone
  pkg/connector/pinecone/v0/main.go
Labels: instill vdp

#118 feat: add additional attribute in JSON schema for Instill Credit
  pkg/base/connector.go
  pkg/base/testdata/connectorDef.json
  pkg/base/testdata/wantConnectorDefinition.json
  pkg/connector/archetypeai/v0/config/definition.json
  pkg/connector/bigquery/v0/config/definition.json
  pkg/connector/googlecloudstorage/v0/config/definition.json
  pkg/connector/googlesearch/v0/config/definition.json
  pkg/connector/huggingface/v0/config/definition.json
  pkg/connector/main.go
  pkg/connector/numbers/v0/config/definition.json
  pkg/connector/openai/v0/config/definition.json
  pkg/connector/openai/v0/config/tasks.json
  pkg/connector/pinecone/v0/config/definition.json
  pkg/connector/redis/v0/config/definition.json
  pkg/connector/restapi/v0/config/definition.json
  pkg/connector/stabilityai/v0/config/definition.json
Labels: instill vdp

#119 chore(openai): update Instill Credit supported model list
  pkg/connector/openai/v0/config/tasks.json
Labels: instill vdp

#121 chore: make input / output OpenAI fields public
  pkg/base/connector.go
  pkg/base/operator.go
  pkg/base/usage.go
  pkg/connector/openai/v0/connector_test.go
  pkg/connector/openai/v0/main.go
  pkg/connector/openai/v0/text_generation.go
Labels: instill vdp

#122 feat: add global secrets to StabilityAI connector
  pkg/base/connector.go
  pkg/connector/main.go
  pkg/connector/openai/v0/main.go
  pkg/connector/stabilityai/v0/client.go
  pkg/connector/stabilityai/v0/connector_test.go
  pkg/connector/stabilityai/v0/main.go
Labels: instill vdp

#123 feat: update Instill Credit supported model list
  pkg/connector/openai/v0/config/tasks.json
  pkg/connector/stabilityai/v0/config/definition.json
  pkg/connector/stabilityai/v0/config/tasks.json
Labels: instill vdp

#124 chore: add error to UsageHandlerCreator interface
  pkg/base/execution.go
  pkg/base/usage.go
  pkg/connector/openai/v0/connector_test.go
Labels: instill vdp

#120 feat: implement Slack component
  go.mod
  go.sum
  pkg/connector/main.go
  pkg/connector/slack/v0/README.mdx
  pkg/connector/slack/v0/apiFunctions.go
  pkg/connector/slack/v0/client.go
  pkg/connector/slack/v0/config/definition.json
  pkg/connector/slack/v0/config/tasks.json
  pkg/connector/slack/v0/connector_test.go
  pkg/connector/slack/v0/main.go
  pkg/connector/slack/v0/mockSlack.go
  pkg/connector/slack/v0/structs.go
  pkg/connector/slack/v0/taskFunctions.go
Labels: instill vdp

#125 fix: Fix the bug of setting channelID
  pkg/connector/slack/v0/apiFunctions.go
Labels: instill vdp

#126 fix(slack): add `instillSecret: true` to `token` field
  pkg/connector/slack/v0/config/definition.json
  pkg/connector/slack/v0/taskFunctions.go
Labels: instill vdp

#127 feat(openai): support gpt-4o model
  pkg/connector/openai/v0/config/openai.json
  pkg/connector/openai/v0/config/tasks.json
Labels: instill vdp

#128 chore: extract duration from speech recognition
  pkg/connector/openai/v0/audio_transcriptions.go
  pkg/connector/openai/v0/main.go
Labels: instill vdp

#129 chore(openai): update Instill Credit supported model list
  pkg/connector/openai/v0/config/tasks.json
Labels: instill vdp

#130 chore: make `generateComponentTaskCards()` preserve the same order
  go.mod
  go.sum
  pkg/base/component.go
  pkg/connector/openai/v0/config/tasks.json
  pkg/connector/slack/v0/assets/slack.svg
  pkg/connector/slack/v0/config/definition.json
  pkg/connector/slack/v0/connector_test.go
Labels: instill vdp

#133 feat(instill): adopt latest Model endpoints
  go.mod
  go.sum
  pkg/connector/instill/v0/client.go
  pkg/connector/instill/v0/image_classification.go
  pkg/connector/instill/v0/image_to_image.go
  pkg/connector/instill/v0/instance_segmentation.go
  pkg/connector/instill/v0/keypoint_detection.go
  pkg/connector/instill/v0/main.go
  pkg/connector/instill/v0/object_detection.go
  pkg/connector/instill/v0/ocr.go
  pkg/connector/instill/v0/semantic_segmentation.go
  pkg/connector/instill/v0/text_generation.go
  pkg/connector/instill/v0/text_generation_chat.go
  pkg/connector/instill/v0/text_to_image.go
  pkg/connector/instill/v0/visual_question_answering.go
Labels: instill vdp

#135 chore: optimize GetConnectorDefinition
  pkg/connector/instill/v0/main.go
  pkg/connector/restapi/v0/main.go
Labels: instill vdp

#136 ci(github): change PR auto-label to instill component
  .github/labeler.yml
Labels: instill vdp

#137 chore: update document to lead the users to get Slack token
  pkg/connector/pinecone/v0/README.mdx
  pkg/connector/pinecone/v0/config/definition.json
  pkg/connector/slack/v0/README.mdx
  pkg/connector/slack/v0/config/definition.json
Labels: instill vdp, instill component

#142 chore(compogen): update go module
  tools/compogen/go.mod
  tools/compogen/go.sum
Labels: instill component

#138 feat: add pdf component
  component.go
  internal/mock/command_runner_mock.gen.go
  internal/mock/generator.go
  internal/mock/write_closer_mock.gen.go
  operator/document/v0/assets/document.svg
  operator/document/v0/config/definition.json
  operator/document/v0/config/tasks.json
  operator/document/v0/convert_pdf_to_markdown.go
  operator/document/v0/convert_pdf_to_markdown_test.go
  operator/document/v0/main.go
  operator/document/v0/python/transformPDFToMarkdown.py
Labels: instill vdp, instill component

#145 chore: upgrade Golang version
  .env
  .github/workflows/golangci-lint.yml
  go.mod
  tools/compogen/go.mod
Labels: instill component

#139 feat: add task chunk text
  go.mod
  go.sum
  operator/document/v0/README.mdx
  operator/text/v0/README.mdx
  operator/text/v0/chunk_text.go
  operator/text/v0/chunk_text_test.go
  operator/text/v0/config/definition.json
  operator/text/v0/config/tasks.json
  operator/text/v0/main.go
  operator/text/v0/main_test.go
Labels: instill component

#146 feat(instill): adopt latest Model endpoints
  ai/instill/v0/client.go
  ai/instill/v0/image_classification.go
  ai/instill/v0/image_to_image.go
  ai/instill/v0/instance_segmentation.go
  ai/instill/v0/keypoint_detection.go
  ai/instill/v0/main.go
  ai/instill/v0/object_detection.go
  ai/instill/v0/ocr.go
  ai/instill/v0/semantic_segmentation.go
  ai/instill/v0/text_generation.go
  ai/instill/v0/text_generation_chat.go
  ai/instill/v0/text_to_image.go
  ai/instill/v0/visual_question_answering.go
  application/restapi/v0/main.go
Labels: instill component
